.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid red;
    display: flex;
}

.box{
    height: 150px;
    height: 150px;
    margin: 20px;
    border: 2px solid orange;
    background-color: aqua;

    /* transition: 1s; */
    /* transition-property:background-color;
 
    transition-delay: 5s; */
    /* transition: all 200ms ease 3s; */

    /* transition:transform 3s ease-out;
    transition-property: transform;
    transition-duration: 3s;

    transition-delay: 1s; */
    transition: 3s ease 1s;
}

.box:hover{
    /* background-color: brown;
    transform: rotate(45deg); */
    /* transform: translateX(50px); */
    background-color: brown;
    transform: scale(2) translateX(501px) rotate(360deg);
}