.container{
    text-align: center;
    margin-top:23px
}
h1{
    font-style: inherit;
    font-size: xx-large;
    color: black;
}
body{
    background-color: #f6f6f6   ;
}
table{
    margin: auto;
}
 
input{
    /* border-radius: px; */
    font-size:34px;
    height: 70px;
    width: 260px;
    scroll-behavior: smooth;
    border-radius: 20px;
}
 
button{
    border-radius: 10px;
    font-size: 20px;
    background: #FFFD8C;
    width: 60px;
    height: 50px;
    margin: 6px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px ;
}
 
.calculator{
    background-color: #ed793FDF;
    padding: 23px;
    border-radius: 10px;
    display: inline-block;
   
}